*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito sans, sans-serif;
}

/* -----------Navigation-----------*/
nav {
  position: fixed;
  height: 80px;
  width: 100%;
  background: #232323;
  border-bottom: 1px dotted #f1f1f1;
  background-image: linear-gradient(to bottom, #232323, #626262);
}

.logo-menu {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 50px;
  z-index: 200;
  display: none;
}
